---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<Layout title='Welcome to Astro.'>
  <script>
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        document.getElementById("navbar").classList.remove("bg-transparent");
        document.getElementById("navbar").classList.remove("text-gray-300");
        document.getElementById("navbar").classList.add("text-gray-900");
        document.getElementById("navbar").classList.add("bg-white");
        document.getElementById("navbar").classList.add("shadow");
      } else {
        document.getElementById("navbar").classList.remove("bg-white");
        document.getElementById("navbar").classList.remove("shadow");
		document.getElementById("navbar").classList.remove("text-gray-900");
        document.getElementById("navbar").classList.add("text-gray-300");
        document.getElementById("navbar").classList.add("bg-transparent");
      }
    }
  </script>
  <div
    class="bg-[url('/asset/image/grad.avif')] w-screen h-screen bg-cover bg-center"
  >
    <div class='bg-black bg-opacity-25 w-[100%] h-[100%]'>
      <nav class='bg-transparent sticky top-0 z-30 text-gray-300' id='navbar'>
        <div class='mx-auto max-w-7xl px-2 sm:px-6 lg:px-8'>
          <div class='relative flex h-16 items-center justify-between'>
            <div class='flex flex-shrink-0 items-center'>
              <img
                class='h-8 w-auto'
                src='/asset/image/logo.webp'
                alt='Your Company'
              />
            </div>
            <div class='absolute inset-y-0 left-0 flex items-center sm:hidden'>
              <!-- Mobile menu button-->
            </div>
            <div
              class='flex flex-0 items-center justify-center sm:items-stretch sm:justify-start'
            >
              <div class='hidden sm:ml-6 sm:block'>
                <div class='flex space-x-4'>
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a
                    href='#'
                    class='hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium'
                    aria-current='page'>Home</a
                  >
                  <a
                    href='#'
                    class='hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium'
                    >About</a
                  >
                  <a
                    href='#'
                    class='hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium'
                    >Team</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class='sm:hidden' id='mobile-menu'>
          <div class='space-y-1 px-2 pb-3 pt-2'>
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              href='#'
              class='bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium'
              aria-current='page'>Dashboard</a
            >
            <a
              href='#'
              class='text-gray-30 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium'
              >Team</a
            >
            <a
              href='#'
              class='text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium'
              >Projects</a
            >
            <a
              href='#'
              class='text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium'
              >Calendar</a
            >
          </div>
        </div>
      </nav>
      <div class='p-10'>
        <div class='px-4 sm:px-4 flex flex-row justify-center lg:gap-x-8'>
          <div class='mb-16 flex-0 lg:mt-32 xl:mt-40 xl:mr-12 w-[50%]'>
            <div class='pt-150 lg:pt-0'>
              <h2
                class='hero_title text-xl sm:text-4xl md:text-5xl lg:text-5xl xl:text-6xl font-extrabold'
              >
                Welcome to <span class='text-red-500'>Linkpharm</span>
              </h2>
              <p class='mt-8 lg:mr-8 text-xl text-slate-200'>
                Ethiopia's B2B marketplace for pharmaceutical and cosmetic
                products.
              </p>
              
              <div class='mt-10'>
                <button
                  class='border bg-stone-300 px-6 py-2 text-center mr-5 hover:bg-slate-800 hover:text-slate-200'
                >
                  <a class='' href='#your-link'
                    ><i class='fa-brands fa-apple'></i>{"  "}Download</a
                  >
                </button>
                <button
                  class='border px-6 py-2 text-center mr-5 hover:bg-slate-800 hover:text-slate-200'
                >
                  <a
                    class=''
                    href='https://play.google.com/store/apps/details?id=com.link_pharm.mobile_app'
                    ><i class='fa-brands fa-google-play'></i>{"  "}Download</a
                  >
                </button>
              </div>
            </div>
          </div>
          <div class='flex w-[50%] justify-center items-center'>
            <img
              class='object-contain w-[30%] h-[80%] rotate-3 rounded-md'
              src='/asset/image/rah.jpg'
              alt='alternative'
            />
          </div>
        </div>
      </div>
      <!-- end of container -->
    </div>
  </div>
  <Card className='flex flex-row p-14'>
    <CardHeader className='w-[50%]'>
      <img class="object-cover h-[100%] w-[100%]" src='/asset/image/about.svg' alt='about' />
    </CardHeader>
    <CardContent className='w-[50%]'>
      <div class='about_content mx-4 pt-11 lg:pt-15 lg:pb-15'>
        <div class='section_title pb-9'>
          <h5 class='font-semibold text-lg text-red-500'>About Us</h5>
          <h4 class='font-bold text-xl'>Know Details About Our Company</h4>
        </div>
        <!-- section title -->
        <p>
          LinkPharm is a technology company that specializes in digital ordering
          systems for the pharmaceutical industry. LinkPharm allows pharmacies,
          healthcare facilities, and hospitals to easily place orders with
          wholesalers and distributors, streamlining the ordering process and
          reducing the risk of errors or delays.
        </p>
        <p class='mt-2'>
          With LinkPharm's digital ordering system, we continue to update our
          database to include all products transacted in Ethiopia so that
          customers can easily search, browse and select from a wide range of
          pharmaceutical products, and place orders directly through the
          platform with just a few clicks. The orders will be directly available
          to suppliers in realtime allowing the suppliers to respond
          immediately.
        </p>
        <p class='mt-2'>
          We have designed an intuitive interface to be user-friendly, fast,
          easy to navigate making it simple for non technical users to place
          orders quickly. The system also provides real-time updates on order
          status, giving customers greater visibility and control over their
          orders. Furthermore, we have included a bidding feature that will
          allow suppliers to competitively bid over products making it easy to
          acquire/sell medical product.
        </p>
        <p class='mt-2'>
          But we don't stop there - our platform also supports orders from
          wholesalers and distributors to contract manufacturing organizations
          (CMOs). This allows CMOs to receive orders directly from their
          customers, simplifying the ordering process and improving
          communication between all parties involved.
        </p>
      </div>
    </CardContent>
  </Card>
  <div class='p-10 flex flex-col justify-center items-center '>
    <Card className='bg-gradient-to-r from-sky-200 to-gray-300 w-[70%] p-0 flex  group'>
      <CardHeader className='p-0'>
          <img class="rounded-ss-lg rounded-es-lg " src='/asset/image/jhonny.jpg' alt='Johnny' />
      </CardHeader>
      <CardContent className=''>
        <div class='flex flex-col justify-center items-start h-[30%]'>
          <p class='text-3xl font-bold'>Yohannes Birhanu</p>
          <p class='text-lg font-semibold'>CEO and Founder</p>
        </div>
        <p class='mt-5'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quas
          commodi earum ut natus modi mollitia minus deleniti beatae illum
          repellendus saepe, iusto ad expedita doloribus, fugit, impedit alias
          rerum!
        </p>
        <div
          class='mt-5 py-10 flex w-full justify-around items-center text-4xl'
        >
          <a href='#' target='_blank'><i class='fa-brands fa-linkedin'></i></a>
          <a href='#' target='_self'> <i class='fa-brands fa-facebook'></i></a>
          <a href='#'>
            <i class='fa-brands fa-square-x-twitter'></i>
          </a>
        </div>
      </CardContent>
    </Card>
    <div class="flex mt-10 flex-row justify-between w-[80%] ">
      <Card className="w-[45%] p-0 flex flex-row bg-gradient-to-r from-sky-200 to-gray-300">
        <CardHeader className="p-0 w-[45%]">
          <img class="rounded-ss-lg rounded-es-lg object-cover h-[100%]" src='/asset/image/tesh-400x458.jpg' alt='teshager' />
        </CardHeader>
        <CardContent className="w-[55%] flex justify-center items-center">
          <div class='flex flex-col justify-center items-start h-[30%]'>
            <p class='text-2xl font-bold'>Teshager Amare Lemma</p>
            <p class='text-md font-semibold'>Advisory Board Member</p>
          </div>
        </CardContent>
      </Card>
      <Card className="w-[45%] p-0 flex flex-row bg-gradient-to-r from-sky-200 to-gray-300">
        <CardHeader className="p-0 w-[45%]">
          <img class="rounded-ss-lg rounded-es-lg object-cover h-[100%]" src='/asset/image/Sol.jpg' alt='solomon' />
        </CardHeader>
        <CardContent className="w-[55%] flex justify-center items-center">
          <div class='flex flex-col justify-center items-start h-[30%]'>
            <p class='text-2xl font-bold'>Solomon Kassa</p>
            <p class='text-md font-semibold'>Advisory Board Member</p>
          </div>
        </CardContent>
      </Card>
    </div>
  </div>
</Layout>
